<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boostcms.application.dao.DictionaryDao">

      <resultMap id="DictionaryDOMap" type="com.boostcms.application.domain.DictionaryDO">
      
    </resultMap>


	<select id="get" resultType="com.boostcms.application.domain.DictionaryDO"  resultMap="DictionaryDOMap">
		select `id`,`name`,`type`,`desc` from dictionary where id = #{value}
	</select>

	<select id="list" resultType="com.boostcms.application.domain.DictionaryDO" resultMap="DictionaryDOMap">
		select `id`,`name`,`type`,`desc` from dictionary
        <where>  
		  		  <if test="id != null"> and  id = #{id}  </if>
		  		  <if test="name != null and name != ''"> and  name like  CONCAT('%',#{name},'%')   </if>
		  		  <if test="type != null"> and  type = #{type}  </if>
		  		  <if test="desc != null and desc != ''"> and  desc like  CONCAT('%',#{desc},'%')   </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from dictionary
		 <where>  
		  		  <if test="id != null"> and  id = #{id}  </if>
		  		  <if test="name != null and name != ''"> and  name like  CONCAT('%',#{name},'%')   </if>
		  		  <if test="type != null"> and  type = #{type}  </if>
		  		  <if test="desc != null and desc != ''"> and  desc like  CONCAT('%',#{desc},'%')   </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.boostcms.application.domain.DictionaryDO" useGeneratedKeys="true" keyProperty="id">
		insert into dictionary
		(
			`name`, 
			`type`, 
			`desc`
		)
		values
		(
			#{name}, 
			#{type}, 
			#{desc}
		)
	</insert>
	 
	<update id="update" parameterType="com.boostcms.application.domain.DictionaryDO">
		update dictionary 
		<set>
		<if test="name != null">	`name` = #{name},  </if>
		<if test="type != null">	`type` = #{type},  </if>
		<if test="desc != null">	`desc` = #{desc} </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from dictionary where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from dictionary where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>