<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" href="favicon.ico">
	<link href="/css/plugins/bootstrap/bootstrap.min.css"  rel="stylesheet">
	<link href="/css/plugins/font-awesome.min.css"  rel="stylesheet">
	<link href="/css/plugins/bootstrap-table/bootstrap-table.min.css"  rel="stylesheet">
	<link href="/css/plugins/jsTree/style.min.css" rel="stylesheet">
	<link href="/css/plugins/jqTreeGrid/jquery.treegrid.css" rel="stylesheet">
	
	<link href="/css/plugins/menuframe/tablehead.css" rel="stylesheet">
	<link href="/css/plugins/menuframe/style.min.css" rel="stylesheet">

</head>
<div th:fragment="footer">
	<script src="/js/plugins/jquery/jquery.min.js"></script>
	<script src="/js/plugins/bootstrap/bootstrap.min.js"></script>
	<script src="/js/plugins/bootstrap/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="/js/plugins/bootstrap/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script src="/js/plugins/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="/js/plugins/layui/layui.all.js"></script>
	<script src="/js/common/ajax-env.js"></script>
</div>

<div th:fragment="treefooter">
	<script src="/js/plugins/jsTree/jstree.min.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.min.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.extension.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js"></script>
</div>

<div th:fragment="validatefooter">
	<script src="/js/plugins/jquery/validate/jquery.validate.min.js"></script>
	<script src="/js/plugins/jquery/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery/jquery.form.js"></script>
</div>
